# Challenge-cars

![](./images/trump.jpg)

**Instructions**

In this callenge, you will play with a new DataFrame listing cars models in order to master the basics methods of Pandas library.

# Cars

Let's pratice our new skills with a dataset listing cars models

**Q1** : Begin by importing pandas and numpy using the standard convention

In [3]:
#TODO :importing pandas and numpy using the standard convention
import pandas as pd
import numpy as np

**Q2**: Now load the file *../data/Automobile_data.csv* into the **DataFrame** *cars_df* and display the first lines

In [7]:
# ToDO: load the dataset contained in the file automobile_data.csv
# and display the first 10 lines

cars_df = pd.read_csv('../data/Automobile_data.csv')
cars_df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

**Q3**: Do you see any missing or strange data?

Reload the automobile data into cars_df DataFrame and make sure this time to treat those strange values as NaN

In [9]:
# TODO: identify how the missing data is filled and replece it with NaN
# and then display again the fisrt ten lines to check it has worked
###### START ####
import os
path = os.path.join('..','data','Automobile_data.csv')
cars_df = pd.read_csv(path, na_values=['?'])
cars_df.head(10)

#### END  ####

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN

**Q4**. Display the last 8 rows of the DataFrame

In [10]:
# TODO: display the last 8 rows of cars
#### START ####

cars_df.tail(8)

#### END ####

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
197,-1,74.0,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,24,28,16515.0
198,-2,103.0,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162.0,5100.0,17,22,18420.0
199,-1,74.0,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162.0,5100.0,17,22,18950.0
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

**Q6**. Retrieve the number of non null entries per column. Does the column price contain null values ?

In [11]:
# TODO: Print out the information of the dataframe
#### START ####

cars_df.info()

### END ###

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [12]:
# Method 2

len(cars_df) - cars_df.isnull().sum()

#### END ###

symboling            205
normalized-losses    164
make                 205
fuel-type            205
aspiration           205
num-of-doors         203
body-style           205
drive-wheels         205
engine-location      205
wheel-base           205
length               205
width                205
height               205
curb-weight          205
engine-type          205
num-of-cylinders     205
engine-size          205
fuel-system          205
bore                 201
stroke               201
compression-ratio    205
horsepower           203
peak-rpm             203
city-mpg             205
highway-mpg          205
price                201
dtype: int64

**Q7**. Let's now seleect all the rows with a value in 'price' column, and store them it in a new DataFrame called *cars_with_price_df.

What is the shape of this new DataFrame? confirm your answer using previous result.

In [18]:
# TODO: select the cars with a price in the cars_with_price

### START ###

cars_with_price = cars_df[cars_df['price'].notnull()]
cars_with_price.shape

### END ###

(201, 26)

**Q8**. How many distinct **constructors** exist in the dataset?

In [21]:
# TODO: print how many constructors( 'make') are present in the dataset
### Start ###

print(cars_df['make'].unique())

cars_df['make'].nunique()

### END ###

['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']

22

**Q9**. Display all the constructors that have released more than 10 models. Save those results into a new *big_makers* variable.

In [31]:
# TODO: which makers have more than 10 models?
### START ###

pd.DataFrame(np.unique(cars_df.make,return_counts=True))

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,alfa-romero,audi,bmw,chevrolet,dodge,honda,isuzu,jaguar,mazda,mercedes-benz,...,nissan,peugot,plymouth,porsche,renault,saab,subaru,toyota,volkswagen,volvo
1,3,7,8,3,9,13,4,3,17,8,...,18,11,7,5,2,6,12,32,12,11

In [32]:
# method2
cars_df['make'].value_counts()

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
alfa-romero       3
chevrolet         3
jaguar            3
renault           2
mercury           1
Name: make, dtype: int64

In [34]:
makers_cars = cars_df['make'].value_counts()
big_makers = makers_cars[makers_cars > 10]
big_makers

toyota        32
nissan        18
mazda         17
honda         13
mitsubishi    13
subaru        12
volkswagen    12
volvo         11
peugot        11
Name: make, dtype: int64

**Q10**. Let's order a bit those results:

- First, display those results in alphabetical order
- Secondly, display those results by increasing value of number of models

In [35]:
## TODO: sort the results
### START ###

print("Alphabetical order: ")
print(big_makers.sort_index())

print("\nincreasing number of models: ")
print(big_makers.sort_values())

### END ###

Alphabetical order:
honda         13
mazda         17
mitsubishi    13
nissan        18
peugot        11
subaru        12
toyota        32
volkswagen    12
volvo         11
Name: make, dtype: int64

increasing number of models:
volvo         11
peugot        11
subaru        12
volkswagen    12
honda         13
mitsubishi    13
mazda         17
nissan        18
toyota        32
Name: make, dtype: int64

**Q11**. Retrieve the following statistic:

- the car with the maximum horsepower
- the car with the minimum length
- the mean of cars width
- the standard deviation of cars heigth

In [44]:
print('maximum horsepower', cars_df['horsepower'].max())
print('minimum length', cars_df['length'].min())
print('mean of cars width', cars_df['width'].mean())
print('the standard deviation of cars heigth', cars_df['height'].std())

maximum horsepower 288.0
minimum length 141.1
mean of cars width 65.90780487804875
the standard deviation of cars heigth 2.4435219699049044